 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Aqui você irá encontrar um pouco sobre o que penso, alguns projetos e objetivos que gostaria de fazer ou que estou focando no momento, e gostaria de compartilhar com quem interessar-se.
                    </p>
                    <p>
                        Haverá assuntos fora do mundo tecnológico, fique claro que faço isso unicamente para expor meus interesses e aumentar meu engajamento nas metas.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        Certa vez ouvi em um podcast que a melhor maneira de você cumprir um objetivo é torna-lo público, já que assim será cobrado por outras pessoas.
                    </p>
                    <p>
                        Tá bom vai, provavelmente a maior parte do conteúdo seja relacionado a programação e universo geek, então aproveite e caso queira dizer algo fique a vontade.
                        Mande-me um e-mail se preferir. Let's talk!
                    </p>
                </div>
            </div>
        </div>
    </section>