<footer class="page-footer teal lighten-2" style="padding-top: 0em;">
    <div class="container" style="padding-bottom: 2em; padding-top: 2em; text-align: center;">
      <a class="white-text" href="https://twitter.com/{{ site.twitter_username }}">
        <span class="icon icon-twitter-square" style="margin: 0em 1em 0em 1em;">
          {% include twitter-square.svg %}        
        </span>
      </a>    
      <a class="white-text" href="https://github.com/{{ site.github_username }}">
        <span class="icon icon-github-alt" style="margin: 0em 1em 0em 1em;">
          {% include github-alt.svg %} 
        </span>
      </a>
      <a class="white-text" href="https://instagram.com/{{ site.instagram_username }}">
        <span class="icon icon-instagram" style="margin: 0em 1em 0em 1em;">
          {% include instagram.svg %} 
        </span>
      </a>
      <a class="white-text" href="http://facebook.com.br/{{ site.facebook_username }}">
        <span class="icon icon-facebook-square" style="margin: 0em 1em 0em 1em;" >
          {% include facebook-square.svg %} 
        </span>
      </a>
      <div class="white-text" style="margin-top: 1em;">
      <big>Leonardo Romano Camargo <i>< leonardorcamargo@gmail.com ></i></big>
      </div>
    </div>
</footer>