<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a class="brand-logo" id="logo-container" href={{ site.baseurl | prepend: site.url }}>
      <img src={{ "logo.png" | prepend: site.path_img }} alt="Logo do blog" style="width: 32%; height: 32%;">
    </a>
    <ul class="right hide-on-med-and-down">
      {% for page in site.pages %}
        {% if page.title %}
          <li><a href={{ page.url | prepend: site.url }}>{{page.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      {% for page in site.pages %}
        {% if page.title %}
          <li><a href={{ page.url | prepend: site.url }}>{{page.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>